.container {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(100deg, black, #471B75)
}

.menuButton {
  position: absolute;
  top: 12px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: 0.3s;
}

.menuButton:hover {
  opacity: 0.7;
}

.sideBar {
  display: flex;
  height: 100%;
  background: #111222;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease;
  position: absolute;
}

.logoTitle {
  font-size: 40px;
  color: #471B75;
  margin-top: 30px;
}

.sideBar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  margin-top: 30px;
}

.sideBar nav button, .sideBar nav a {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 80%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 0.5rem;
  font-weight: 500;
  color: white;
  transition: 0.3s ease;
}

.sideBar nav button:not(.selected):hover, .sideBar nav a:not(.selected):hover {
  opacity: 0.6;
}

.sideBar nav button svg, .sideBar nav a svg {
  margin-right: 10px;
}

.selected {
  background: #471B75;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  cursor: default;
}

.sideBar nav a {
  width: 100%;
}

.projectInputWrapper {
  display: flex;
  align-items: center;
  height: 35px;
}

.projectInputWrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createProjectInput {
  margin-left: 6px;
  border-bottom: 1px solid #471B75;
  height: 90%;
  padding-left: 5px;
  font-size: 15px;
  color: white;
  max-width: 120px;
}

.blue {
  width: 10px;
  height: 10px;
  background: blue;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main header {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  height: 70px;
  align-items: center;
}

.main header h2 {
  color: white;
  font-weight: 500;
  font-size: 25px;
}