.container {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #222;
}

.sideBar {
  display: flex;
  height: 100%;
  background: #333;
}

.sideBar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  margin-top: 50%;
}

.sideBar nav button {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 80%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  transition: opacity 0.3s ease;
}

.sideBar nav button:hover {
  opacity: 0.6
}

.sideBar nav button svg {
  margin-right: 10px;
}

.selected {
  background: #471B75;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}