.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(100deg, black, #471B75);
}

.navigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
}

.navigationBar h1 {
  color: #471B75;
  margin-left: 25px;
  font-size: 40px;
  line-height: 30px;
}

.navigationBar button {
  margin-right: 23px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.navigationBar button:nth-of-type(1), .navigationBar button:nth-of-type(2) {
  color: white;
}

.registerButton {
  background: white;
  color: #471B75;
  padding: 8px 15px;
  border-radius: 8px;
}

.registerButton:hover {
  box-shadow: 0 0 30px rgba(255,255,255,0.3);
}

.navigationBar button:not(.registerButton):hover {
  opacity: 0.6
}

.logoTitleBackground {
  margin-left: 5%;
  font-size: 13vh;
  color:#190929;
  user-select: none;
}

.logoTitleBackground b {
  color: #471B75;
}

.sloganAndStartNowSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
}

.sloganAndStartNowSection h3 {
  color: white;
  font-weight: normal;
}

.sloganAndStartNowSection button {
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  background: white;
  color: #471B75;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
}

.sloganAndStartNowSection button:hover {
  box-shadow: 0 0 30px rgba(255,255,255,0.3);
}

@media (min-width: 800px) {
  .logoTitleBackground {
    font-size: 35vh;
  }

  .sloganAndStartNowSection {
    align-items: flex-start;
    margin-left: 5%;
  }

  .sloganAndStartNowSection button {
    margin-top: 20px;
  }
}