.container {
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100deg, black, #471B75);
}

.logoTitle {
  font-size: 8vh;
  margin-top: 5%;
  color: #471B75;
}

.cardForm {
  width: 90%;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  padding: 10px;
}

.signInButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.signInButtons button {
  padding: 10px 0;
  width: 85%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 0.5rem;
  transition: 0.3s;
  color: #555;
  font-weight: bold;
}

.signInButtons button:hover {
  opacity: 0.6
}

.signInButtons button svg {
  margin-left: 10px;
}

.cardForm p {
  margin-top: 10px;
}

.cardForm input {
  width: 85%;
  background: #eee;
  height: 50px;
  margin-top: 15px;
  padding-left: 15px;
  border-radius: 0.5rem;
  font-size: 16px;
}

.loginButton {
  background: #471B75;
  margin-top: 15px;
  font-size: 19px;
  color: white;
  font-weight: 500;
  width: 85%;
  height: 50px;
  border-radius: 0.5rem;
  margin-bottom: calc(5% + 10px);
}

.loginButton:hover {
  opacity: 0.6;
}