.container {
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(100deg, black, #471B75);
}

.logoTitle {
  font-size: 8vh;
  margin-top: 5%;
  color: #471B75;
}

.cardForm {
  width: 90%;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  padding: 10px;
  max-width: 400px;
}

.signInButtons {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.signInButtons a {
  padding: 10px 0;
  width: 47%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 0.5rem;
  transition: 0.3s;
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.signInButtons a:hover {
  opacity: 0.6
}

.cardForm p {
  margin-top: 10px;
}

.toLoginLink {
  color: #471B75;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.toLoginLink:hover {
  opacity: 0.6;
}

.cardForm input {
  width: 85%;
  background: #eee;
  height: 50px;
  margin-top: 15px;
  padding-left: 15px;
  border-radius: 0.5rem;
  font-size: 16px;
  outline: none;
  border: 2px solid #eee;
  transition: 0.3s;
}

.cardForm input:focus {
  border: 2px solid #471B75;
}

.passwordContainer {
  background: #eee;
  border-radius: 0.5rem;
  width: 85%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordContainer input {
  margin-top: 0;
}

.passwordContainer button {
  margin-right: 4%;
  cursor: pointer;
  transition: 0.3s;
  line-height: 0;
}

.passwordContainer button:hover {
  opacity: 0.6;
}

.loginButton {
  background: #471B75;
  margin-top: 15px;
  font-size: 19px;
  color: white;
  font-weight: 500;
  width: 85%;
  height: 50px;
  border-radius: 0.5rem;
  margin-bottom: calc(5% + 10px);
  transition: 0.3s;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.6;
}

@media (min-width: 800px) {
  .logoTitle {
    font-size: 8vh;
    line-height: 10vh;
  }
}